<h1>会員情報編集</h1>
<%= form_with model: @customer do |f| %>
  <div>
    <%= image_tag @customer.get_profile_image(100,100) %>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :introduction, "自己紹介" %>
    <%= f.text_area :introduction %>
  </div>
  <%= f.submit %>
<% end %>

<div>
  <%= link_to "退会する", customers_check_path, class:"btn btn-danger" %>
</div>