<div class="container">
  <h2>マイページ</h2>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <div><%= image_tag @customer.get_profile_image(150, 150) %></div>
          <%= link_to "お気に入り一覧", sake_favorites_index_path, class:"btn btn-primary" %>
        </div>
        <div class="col-4">
          <p>ユーザー名：<%= @customer.name %></p>
          <p>自己紹介：<%= @customer.introduction %></p>
        </div>
        <div>
          <%= link_to "編集", edit_customer_path(@customer), class:"btn btn-success" %>
        </div>
      </div>
      <p>新着投稿</p>
      <div class="row">
        <% @posts.each do |sake_post| %>
          <div class="col-3 offset-1">
            <%= link_to sake_post_path(sake_post) do %>
              <%= sake_post.sake.name %><br>
              <%= image_tag sake_post.get_image(100,100) %><br>
              <%= image_tag sake_post.customer.get_profile_image(50, 50) %>
              <%= sake_post.impression %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="ml-auto col-2">
        <%= link_to "投稿一覧へ", sake_posts_path, class:"btn btn-primary" %>
      </div>
    </div>
    <div class="col-2 offset-1 border">
      <%= render "public/homes/sidebar" %>  
    </div>
  </div>
</div>