<div class="container">
  <h3 class="mt-5 mb-4 p-2 bg-secondary text-light">
    <span class="headline px-3"> ユーザー詳細 <i class="fas fa-home ml-2"></i></span>
  </h3>
  <div class="row">
    <div class="col-md-10 col-lg-9">
      <div class="col-md-3 d-md-inline-block">
        <%= image_tag @customer.get_profile_image(150, 150), class:"border border-dark img-fluid" %>
        <%= link_to "お気に入り一覧", customer_sake_favorites_index_path(@customer), class:"btn btn-primary" %>
      </div>
      <div class="col-md-8 d-md-inline-block">
        <% if customer_signed_in? %>
          <% if @customer == current_customer %>
            <%= link_to "編集", edit_customer_path(@customer), class:"btn btn-success float-right" %>
          <% else %>
            <% if current_customer.following?(@customer) %>
              <%= link_to "フォロー中", customer_relationships_path(@customer.id), method: :delete, class:"btn btn-danger float-right" %>
            <% else %>
              <%= link_to "フォロー", customer_relationships_path(@customer.id), method: :post, class:"btn btn-success float-right" %>
            <% end %>
          <% end %>
        <% end %>
        <table class="table table-secondary table-bordered mt-5">
          <tr>
            <td class="col-3">ユーザー名:</td>
            <td class="col-9 text-right pr-4"><%= @customer.name %></td>
          </tr>
          <tr>
            <td>投稿数:</td>
            <td class="text-right pr-4"><%= @count %> 件</td>
          </tr>
          <tr>
            <td>自己紹介:</td>
            <td class="text-right pr-4"><%= @customer.introduction %></td>              
          </tr>
        </table>
      </div>
      <h4 class="mt-5 mb-4 p-2 bg-secondary text-light">
        <span class="headline px-3"> 新 着 投 稿 <i class="fa-solid fa-bottle-droplet pl-2"></i></span>
      </h4>
      <%= render "public/sake_posts/index", sake_posts: @sake_posts %>

      <div>
        <%= form_with url: customer_sake_posts_path do |f| %>
          <%= f.hidden_field :customer_id, :value => @customer.id %>
          <%= f.submit "投稿一覧へ", class:"btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
    <div class="col-2 mx-auto d-none d-md-block">
      <%= render "public/homes/sidebar" %>  
    </div>
  </div>
</div>


