<div class="container">
  <div class="row">
    <div class="col-9">
      <div>
        <% if @genre != nil %>
          <h1><%= @genre.genre %>一覧</h1>
        <% else %>
          <h1>お店一覧</h1>
        <% end %>
      </div>
      <% if @word != nil %>
        <h3>検索ワード: "<%= @word %>"</h3>
      <% end %>
      <div>
        <%= form_with url: search_shop_prefectures_path do |f| %>
          <%= f.label :prefectures, "所在地で絞り込み" %>
          <%= f.select :prefectures, Shop.prefectures.keys, {} %>
          <% @shops.each do |shop| %>
            <%= f.hidden_field :shops, :multiple => true, :value => shop.id %>
          <% end %>
          <%= f.submit "絞り込み", class:"btn btn-info" %>
        <% end %>
      </div>
      <div>
        <%= form_with url: search_shop_rate_path do |d| %>
          <% @shops.each do |shop| %>
            <%= d.hidden_field :shops, :multiple => true, :value => shop.id %>
          <% end %>
          <%= d.submit "高評価のみを表示する" %>
        <% end %>
      </div>
      <div>
        <%= render "public/searches/form" %>
      </div>
      <div>
        <table class="table table-hover table-striped">
          <thead>
            <tr class="table-secondary">
              <th>店名</th>
              <th>業態</th>
              <th>住所</th>
              <th>平均評価</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @shops.each do |shop| %>
              <tr>
                <td><%= shop.name %></td>
                <td><%= shop.shop_genre.genre %></td>
                <td><%= shop.address %></td>
                <td><div id="star-rate-<%= shop.id %>"></div>
                  <script>
                   $('#star-rate-<%= shop.id %>').empty();
                    $('#star-rate-<%= shop.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: "<%= shop.shop_posts.average(:rate).to_f.round(1) %>",
                    });
                  </script>
                </td>
                <td><%= link_to "詳細", shop_path(shop), class:"btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= paginate @shops %>
        </div>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>