<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9">
      <div class="main-text text-center mt-1 border border-dark py-3 bg-light">
        <h2 class="mb-3 head-text">SakeNSへようこそ!</h2>
        <h4>楽しむ。撮る。投稿する。</h4>
        <b><p class="text-success">あなたの好きなお酒とお店を共有しましょう！</p></b>
      </div>
      <div class="main-visual"></div>
      <h4 class="mt-4 mb-4 p-2 bg-secondary text-light">
        <span class="headline px-3"> 新 着 投 稿 <全 <%= @count %> 件><i class="fas fa-wine-bottle ml-2"></i></span>
      </h4>
      <div class="text-center my-3">
        表示切替：
        <%= link_to "すべてのユーザー", root_path, remote: :true %>
        |
        <%= link_to "フォロー中のユーザー", following_path, remote: :true %>
      </div>
      <div class="sake-posts">
        <%= render "public/sake_posts/index", sake_posts: @sake_posts %>
      </div>
      <%= link_to "投稿一覧へ", sake_posts_path, class:"btn btn-info border border-secondary float-right" %>
    </div>
    <div class="col-2 mx-auto d-none d-md-block">
      <%= render "sidebar" %>
    </div>
  </div>
</div>