<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <h3 class="mt-5 mb-4 p-2 bg-secondary text-light">
        <span class="headline px-3">お酒投稿一覧</span>
      </h3>
      <div>
        <table class="table table-hover table-striped">
          <thead>
            <tr class="table-secondary">
              <th>ユーザー名</th>
              <th>商品名</th>
              <th>評価</th>
              <th>更新日時</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @sake_posts.each do |sake_post| %>
              <tr>
                <td><%= sake_post.customer.name %></td>
                <td><%= sake_post.sake.name %></td>
                <td><%= sake_post.rate %>点</td>
                <td><%= sake_post.updated_at.strftime("%Y/%m/%d") %></td>
                <td><%= link_to "詳細", admin_sake_post_path(sake_post), class:"btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="justify-content-center d-flex">
          <%= paginate @sake_posts %>
        </div>
      </div>
    </div>
  </div>
</div>