<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div>
        <span><h2>会員詳細</h2></span>
      </div>
      <div>
        ユーザー名：<%= @customer.name %>
      </div>
      <div>
        メールアドレス：<%= @customer.email %>
      </div>
      <div>
        自己紹介：<%= @customer.introduction %>
      </div>
      <div>
        会員ステータス：<%= @customer.status %>
      </div>
      <div class="row">
        <div class="btn btn-info">投稿一覧</div>
        <div><%= link_to "編集", edit_admin_customer_path(@customer), class:"btn btn-success" %></div>
      </div>
    </div>
  </div>
</div>