<div class="row">
  <% sake_posts.each do |sake_post| %>
  <div class="card text-white bg-secondary mb-3" style="width: calc(94% / 3); margin: 0 calc(6% / 6)">
    <%= image_tag sake_post.get_image(200,200), class:"bd-placeholder-img card-img-top", style:"height: 180px;" %>
    <span class="sake-post-genre float-right px-1"><%= sake_post.sake.sake_genre.genre %></span>
    <div class="card-body">
      <h5 class="card-title"><%= sake_post.sake.name %></h5>
      <div class="row">
        <div class="col-4">
          <%= image_tag sake_post.customer.get_profile_image(70, 70) %><br>
          <span class="ml-2 text-truncate"><%= sake_post.customer.name %></span>
        </div>
        <div class="col-8">
          <p class="card-text text-truncate"><%= sake_post.impression %></p>
          <!--星評価-->
          <div id="star-rate<%= sake_post.id %>"></div>
          <script>
            $('#star-rate<%= sake_post.id %>').empty();
            $('#star-rate<%= sake_post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: "<%= sake_post.rate %>"
            });
          </script>
          <!--ここまで-->
          <span class="float-right"><%= link_to "詳細へ", sake_post_path(sake_post), class:"btn btn-primary mt-2" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
