<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9">
      <h2 class="mb-3 p-2 bg-secondary text-light">
        <span class="headline px-3">投 稿 一 覧（お酒）<i class="fas fa-wine-bottle mx-2"></i> </span>
      </h2>
      <% if @sake_posts == SakePost.page(params[:page]).order("created_at DESC") %>
        <div class="text-center mb-3">
          表示切替：
          <%= link_to "すべてのユーザー", sake_posts_path, remote: :true %>
          |
          <%= link_to "フォロー中のユーザー", sake_posts_followings_path, remote: :true %>
        </div>
      <% end %>
      <div class="sake-posts">
        <%= render "index", sake_posts: @sake_posts %>
        <div class="justify-content-center d-flex">
          <%= paginate @sake_posts %>
        </div>
      </div>
    </div>
    <div class="col-2 mx-auto d-none d-md-block">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>
