<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9">
      <h3 class="mb-5 p-2 bg-secondary text-light border border-dark">
        <span class="headline px-3">投 稿 詳 細<i class="fas fa-beer ml-2"></i></span>
      </h3>
      <%= render "public/sake_posts/sake_show", sake: @sake, sake_post: @sake_post, customer: @customer %>
      <%= render "public/sake_posts/shop_show", shop_posts: @shop_posts, customer: @customer %>
      <div class="sake-comments">
        <%= render "public/sake_comments/comments", sake_post: @sake_post %>
      </div>
      <% if customer_signed_in? %>
        <div class="comment-form">
          <%= render "public/sake_comments/comment_form", sake_post: @sake_post, sake_comment: @sake_comment %>
        </div>
      <% end %>
    </div>
    <div class="col-2 ml-auto d-none d-md-block">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>