<div class="container">
  <div class="col-12 mx-auto col-md-8 col-lg-6 card shadow-lg border border-success">
    <div class="card-body">
      <h3 class="card-title mb-4">編集(お酒)</h3>
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <%= form_with model: @sake, url: admin_sake_path(@sake) do |f| %>
            <div class="form-group">
              <%= f.label :name, "商品名" %>
              <%= f.text_field :name, class:"form-control border border-primary" %>
            </div>
            <div class="form-group">
              <%= f.label :sake_genre_id, "種類" %>
              <%= f.select :sake_genre_id, @genres.map{|genre| [genre.genre, genre.id] }, {}, {class:"form-control border border-primary"} %>
            </div>
            <div class="form-group">
              <%= f.label :prefectures, "都道府県" %>
              <%= f.select :prefectures, Sake.prefectures.keys, {}, {class:"form-control border border-primary"} %>
            </div>
            <div class="form-group">
              <%= f.label "登録されている画像" %>
              <%= image_tag @sake.get_image(150,150) %>
            </div>
            <div class="form-group">
              <%= f.label "画像" %>
              <%= f.file_field :image, accept: "image/*"%>
            </div>
            <div class="row px-3 d-flex justify-content-around">
              <%= f.submit "更新", class:"btn btn-success", style:"width: 100px;" %>
              <%= link_to "削除", admin_sake_path(@sake), method: :delete, class:"btn btn-danger", style:"width: 100px;", data: {confirm: "削除しますか？"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
