<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9">
      <h3 class="mb-4 p-2 bg-secondary text-light">
        <span class="headline px-3">飲みたいお酒一覧<i class="fas fa-glass-cheers ml-2"></i></span>
      </h3>
      <%= render "public/sake_favorites/sake_index", sake_favorites: @sake_favorites %>
      <div class="justify-content-center d-flex">
        <%= paginate @sake_favorites, :param_name => "sake_page" %>
      </div>
      <h3 class="mb-4 p-2 bg-secondary text-light">
        <span class="headline px-3">行きたいお店一覧<i class="fas fa-store-alt ml-2"></i></span>
      </h3>
      <%= render "public/sake_favorites/shop_index", shop_favorites: @shop_favorites %>
      <div class="justify-content-center d-flex">
        <%= paginate @shop_favorites, :param_name => "shop_page" %>
      </div>
    </div>
    <div class="col-2 mx-auto d-none d-md-block">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>
