<div class="container">
  <div class="col-12 mx-auto col-md-8 col-lg-6 card shadow-lg border border-primary">
    <div class="card-body">
      <h3 class="card-title mb-4">ログイン</h3>
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border border-primary" %>
            </div>
          
            <div class="form-group">
              <%= f.label :password, "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control border border-primary" %>
            </div>
          
            <div class="text-right">
              <%= f.submit "ログインする", class:"btn btn-primary" %>
            </div>
          <% end %>
          <div class="mt-4 mb-2">★会員登録がまだの方は<%= render "public/shared/links" %>。</div>
        </div>
      </div>
    </div>
  </div>
</div>
