<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>
        お酒一覧
        <% if @genre != nil %>
          (<%= @genre.genre %>)
        <% end %>
      </h1>
      <% if @word != nil %>
        <h3>検索ワード: "<%= @word %>"</h3>
      <% end %>
      <div>
        <%= form_with url: search_sake_prefectures_path do |f| %>
          <%= f.label :prefectures, "生産地で絞り込み" %>
          <%= f.select :prefectures, Sake.prefectures.keys, {} %>
          <% @sakes.each do |sake| %>
            <%= f.hidden_field :sakes, :multiple => true, :value => sake.id %>
          <% end %>
          <%= f.submit "絞り込み", class:"btn btn-info" %>
        <% end %>
      </div>
      <div>
        <%= form_with url: search_sake_rate_path do |d| %>
          <% @sakes.each do |sake| %>
            <%= d.hidden_field :sakes, :multiple => true, :value => sake.id %>
          <% end %>
          <%= d.submit "高評価のみを表示する" %>
        <% end %>
      </div>
      <div>
        <%= render "public/searches/form" %>
      </div>
      <div class="row">
        <% if @sakes.any? %>
          <%= render "public/sakes/index", sakes: @sakes %>
        <% else %>
          <p>最初の投稿をお待ちしております！</p>
        <% end %>
      </div>
      <div>
        <%= paginate @sakes %>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>
