<div class="container">
  <div class="row">
    <div class="col-9">
    <%= render "public/sakes/show", sake: @sake %>
    <h4 class="my-3 p-2 bg-secondary text-light border border-dark">
      <span class="headline px-3">新 着 投 稿<i class="fas fa-wine-bottle ml-2"></i></span>
    </h4>
    <%= render "public/sake_posts/index", sake_posts: @sake_posts %>
    <div>
      <%= form_with url: sakes_sake_posts_path do |f|%>
        <%= f.hidden_field :sake_id, :multiple => true, :value => @sake.id %>
        <div class="float-right mb-3">
          <%= f.submit "もっと見る", class:"btn" %>
        </div>
      <% end %>
    </div>
    <h4 class="mt-5 mb-3 p-2 bg-secondary text-light border border-dark">
      <span class="headline px-3">楽しめるお店<i class="fas fa-store ml-2"></i></span>
    </h4>
    <%= render "public/sakes/shops_index", sake_posts: @sake_posts %>
    </div>
    <div class="col-2 offset-1">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>
