    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg">
        <div class="container">

          <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="SakeNS" wodth="80" height="80">
            <div class="text-light">SakeNS</div>
          </a>
          <% if customer_signed_in? %>
            <span class="text-center text-light">ようこそ、<%= current_customer.name %>さん！</span>
          <% end %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">

                <% if customer_signed_in? %>
                  <%= render "layouts/customer_header" %>
                <% elsif admin_signed_in? %>
                  <%= render "layouts/admin_header" %>
                <% else %>

                  <li class="nav-item mx-3">
                    <%= link_to"Home",root_path,class: 'btn btn-secondary'%>
                  </li>

                  <li class="nav-item mx-3">
                    <%= link_to"検索",searches_form_path,class: 'btn btn-info'%>
                  </li>

                  <li class="nav-item mx-3">
                    <%= link_to"新規登録",new_customer_registration_path,class: 'btn btn-success'%>
                  </li>

                  <li class="nav-item mx-3">
                    <%= link_to"ログイン",new_customer_session_path,class:"btn btn-primary"%>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>