<!DOCTYPE html>
<html>
  <head>
    <title>SakeNS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="py-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= link_to "前ページに戻る", :back, class:"btn btn-outline-warning fixed-bottom ml-auto mb-3 mr-3", style:"width: 150px;" %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
